<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
<div class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex justify-content-between">
      <div>
        <a class="navbar-brand" href="#">SpotiGame</a>
      </div>
      <div>
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link fa-solid fa-truck" aria-current="page" routerLink="orderList" *ngIf="userService.esAdmin(this.token)"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fa-solid fa-house" aria-current="page" routerLink="home"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link fa-solid fa-gamepad" routerLink="gameList"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link fa-solid fa-cart-shopping" routerLink="basketPage" *ngIf="userService.isLogged()"></a>
            <!-- <span id="cart_menu_num" data-action="cart-can" class="badge rounded-circle">5</span> -->
          </li>
          <li class="nav-item">
            <a class="nav-link fa-solid fa-user" routerLink="login"*ngIf="!userService.isLogged()" ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link fa-solid fa-id-card" routerLink="userProfile"*ngIf="userService.isLogged()"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link fa-solid fa-right-from-bracket" routerLink="home" *ngIf="userService.isLogged()" (click)="onClickLogout()"></a>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </nav>
</div>
