<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Número de pedido</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let pedido of ultimosPedidos">
          <td>{{ pedido.id }}</td>
          <td>{{ pedido.fecha | date : "dd/MM/yyyy" }}</td>
          <td>
              {{ pedido.estado }}
          </td>
          <td><button class="btn btn-outline-primary" [routerLink]="['/orderDetail/',pedido.id]">more details</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>