<div class="container pb-5" *ngIf="game">
  <button class="btn btn-outline-primary mb-2" [routerLink]="['/gameList']">
    Go back
  </button>
  <div class="game" *ngIf="!game.fatal">
    <div class="p-3">
      <h3>{{ game.name }}</h3>
      <div class="row">
        <div class="col-12 col-md-8">
          <div
            id="screenshotCarrousel"
            class="carousel slide shadow mb-3"
            data-bs-ride="true"
          >
            <div class="carousel-inner">
              <div
                class="carousel-item"
                *ngFor="let screenshot of screenshots; let i = index"
                [ngClass]="{ active: i === 0 }"
              >
                <img [src]="screenshot.path_full" class="d-block w-100" />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#screenshotCarrousel"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#screenshotCarrousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="mt-2 mb-3 d-flex align-items-center">
            <button class="btn btn-outline-primary" (click)="onClickAddGame()">
              Add to cart
            </button>
            <div class="px-2">at {{ game.price }}€</div>
          </div>
          <p></p>
          <p><strong>Developer(s):</strong> {{ game.developers }}</p>
          <p><strong>Publisher(s):</strong> {{ game.publishers }}</p>
          <p
            *ngIf="game.linux_requirements"
            [innerHTML]="
              '<strong>Linux requirements:</strong> <br />' +
              game.linux_requirements
            "
          ></p>
          <p
            *ngIf="game.mac_requirements"
            [innerHTML]="
              '<strong>MAC requirements:</strong> <br />' +
              game.mac_requirements
            "
          ></p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <div>
            <p
              *ngIf="game.detailed_description"
              class="description"
              [innerHTML]="'<br />' + game.detailed_description"
            ></p>
            <p
              *ngIf="game.website"
              [innerHTML]="
                'Website: <a href=' +
                game.website +
                ' target=_blank >' +
                game.website +
                '</a>'
              "
            ></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="game.fatal">
    <h3>No se encuentra el juego especificado</h3>
  </div>
</div>
