@import "./variables.scss";

body {
  background: rgb(253,231,255);
  background: linear-gradient(220deg, rgba(253,231,255,1) 0%, rgba(254,255,247,1) 47%, rgb(255, 254, 211) 100%);
  color: $text-color-light;
}

.btn-outline-primary {
  color: $primary-color-light;
  border-color: $primary-color-light;

  &:hover {
    color: $text-color-dark;
    background-color: $primary-color-light;
    border-color: $primary-color-light;
  }

  &:focus {
    color: $text-color-dark;
    background-color: $primary-color-light;
    border-color: $primary-color-light;
  }

  &:active {
    color: $text-color-dark !important;
    background-color: $primary-color-light !important;
    border-color: $primary-color-light !important;
  }

  &:disabled {
    color:  $primary-color-lighter !important;
    border-color: $primary-color-lighter !important;
  }
}

a {
  text-decoration: none;
  color: $secondary-color;
  font-weight: 500;

  &:hover {
    color: $secondary-color-lighter;
  }

  &:focus {
    color: $secondary-color-light;
  }

  &:active {
    color: $secondary-color-light !important;
  }
}

.page-link {
  color: $primary-color;

  &:hover {
    color: $secondary-color-light;
    cursor: pointer;
  }

  &.active {
    background-color: $primary-color;
    border-color: $primary-color-light;
    &:hover {
      color: $text-color-dark;
      cursor: default;
    }
  }
}
