$primary-color: #251342;
$primary-color-light: #3a2a54;
$primary-color-lighter: #66597a;
$secondary-color: #622a55;
$secondary-color-light: #815476;
$secondary-color-lighter: #a07f99;
$accent-color: 	#9c416e;
$accent-color-light: #af668b;
$accent-color-lighter: #c38da8;

$background-light: #fefff7;
$background-light-2: #faffee;
$background-dark: #141219;
$background-dark-2: 171912;

$text-color-light: #141219;
$text-color-dark: #fefff7;

